//Cor text e pagrafos ou Title
$corPrimeira:#fff;
$corPrimeiratexto:#000;

//Cor de fundo Opacidade
$corHerobefore:#023D3D;

//Cor Botao da paginal
$corPrimeiroBtn:#16D5D5;

//Cor Evento da paginal
$corblue1:#0EFFFF;
$corblue2:#065E45;
$corblue3:#1391B1;
$corblue4:#4196F8;